html, body {
    margin: 0;
    padding-top: .5%;
    padding-left: 1%;
    width: 100%;
  }
  
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

b {
    font-weight: bold;
}

button {
    display: inline-block;
    padding:0.2em 1.45em; 
    margin:0.1em;
    border:0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    color:#000000;
    background-color:#CCCCCC;
    text-align:center;
    position:relative;
}

button:hover {
    background-color: #7a7a7a;
}

input[type='submit'] {
    display: inline-block;
    padding:0.2em 1.45em; 
    margin:0.1em;
    border:0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    color:#000000;
    background-color:#CCCCCC;
    text-align:center;
    position:relative;
}

input[type='submit']:hover {
    background-color: #7a7a7a;
}